{{#isBodyParam}}@RequestBody({{#required}}required = true{{/required}}{{^required}}required = false{{/required}}) {{^isBinary}}{{>optionalDataType}}{{/isBinary}}{{#isBinary}}MultipartFile{{/isBinary}} {{paramName}}{{/isBodyParam}}
