package {{package}};

{{#imports}}import {{import}};
{{/imports}}
import java.io.Serializable;
import lombok.*;
import lombok.experimental.*;
import com.fasterxml.jackson.annotation.*;

{{#models}}
    {{#model}}
        {{#isComposedModel}}
            {{>interface}}
        {{/isComposedModel}}
        {{^isComposedModel}}
            {{#isEnum}}
                {{>enumOuterClass}}
            {{/isEnum}}
            {{^isEnum}}
                {{>pojo}}
            {{/isEnum}}
        {{/isComposedModel}}
    {{/model}}
{{/models}}
