{{#discriminator}}{{>typeInfoAnnotation}}{{/discriminator}}

@Data
{{#vendorExtensions.x-inheritance}}@SuperBuilder{{/vendorExtensions.x-inheritance}}
{{^vendorExtensions.x-inheritance}}@Builder{{/vendorExtensions.x-inheritance}}
{{#parent}}@EqualsAndHashCode(callSuper=true){{/parent}}
@AllArgsConstructor
public class {{classname}} {{#parent}}extends {{{parent}}}{{/parent}} implements Serializable {{#interfaceModels}}, {{classname}}{{^@last}}, {{/@last}}{{#@last}} {{/@last}}{{/interfaceModels}} {
{{#serializableModel}}
  private static final long serialVersionUID = 1L;

{{/serializableModel}}
  {{#vars}}
    {{#isEnum}}
    {{^isContainer}}
{{>enumClass}}
    {{/isContainer}}
    {{/isEnum}}
    {{#items.isEnum}}
      {{#items}}
      {{^isContainer}}
{{>enumClass}}
      {{/isContainer}}
      {{/items}}
    {{/items.isEnum}}
    {{#vendorExtensions.x-is-discriminator-property}}
  @JsonTypeId
    {{/vendorExtensions.x-is-discriminator-property}}
    {{^vendorExtensions.x-is-discriminator-property}}
  @JsonProperty("{{baseName}}"){{#withXml}}
  @JacksonXmlProperty({{#isXmlAttribute}}isAttribute = true, {{/isXmlAttribute}}{{#xmlNamespace}}namespace="{{xmlNamespace}}", {{/xmlNamespace}}localName = "{{#xmlName}}{{xmlName}}{{/xmlName}}{{^xmlName}}{{baseName}}{{/xmlName}}"){{/withXml}}
    {{/vendorExtensions.x-is-discriminator-property}}
  {{#isListContainer}}@Singular{{/isListContainer}}
  {{^isContainer}}@Builder.Default{{/isContainer}}
  private {{{datatypeWithEnum}}} {{name}}{{^isContainer}} = {{{defaultValue}}}{{/isContainer}};

  {{/vars}}

  {{^emptyVars}}
  public {{classname}}() {
  {{#vars}}
      {{name}} = {{{defaultValue}}};
  {{/vars}}
  }
  {{/emptyVars}}
}
